:root {
    --background-color: #121212;
    --text-color: #E0E0E0;
    --player-bg-color: rgba(30, 30, 30, 0.7);
    --player-border-color: #2F2F2F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
    background-color: transparent;
    color: var(--text-color);
    overflow: hidden;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main-container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 2;
}
.clock {
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "slnt" 0,
            "wdth" 100,
            "CTRS" 0;
    font-size: 12vw;
    letter-spacing: -2px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}


.player-container {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    background-color: var(--player-bg-color);
    border: 1px solid var(--player-border-color);
    border-radius: 12px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.song-info .icon {
    font-size: 24px;
    color: #A0A0A0;
}

.song-details .title {
    font-weight: 500;
}

.song-details .artist {
    font-size: 0.8rem;
    color: #A0A0A0;
}

.player-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.player-controls button {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.player-controls button:hover {
    transform: scale(1.1);
}

.player-controls .play-pause-btn {
    font-size: 28px;
}

.player-options {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: #A0A0A0;
}
.player-options i {
    cursor: pointer;
}

.montez-regular {
    font-family: "Montez", cursive;
    font-weight: 400;
    font-style: normal;
}
